.rt{
    background-color: #aaabaa;
    height:500px;
    width:100%;
    padding: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exchange-rates{
    padding:100px;
    width:500px;
}
.currency-converter{
    background: #008000;
    padding:190px;
    width:50%;
}