.banner{
  width:100%;
  height:100vh;
  background: url('/public/Images/header-image.webp');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}
.banner_content{
  display:flex;
  align-items: center;
  height:100vh;
}
.container{
  width:1200px;
  max-width: 1200px;
  margin:0 auto;
  color:#fff;
}
.banner_text{
  width:500px;
}
.banner_text h3{
  font-size: 2.2rem;
}
.banner_text h1{
  font-size: 3.2rem;
  line-height: 70px;
  font-weight: 900;
  margin-top: 20px;
}
.banner_text p{
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 20px;
}
.banner_btn{
  margin-top: 40px;
}
.smart-btn{
  text-decoration: none;
  background: #008000;
  padding: 20px 40px;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
}

@media (max-width:900px){
  .banner{
    width:100%;
  }
  .container{
    padding: 0;
    margin: 0;
  }
  .banner_content{
    padding:0;
  }
  .banner_text{
    display: flex;
    flex-direction: column;
    width:450px;
    text-align: center;
  }
  .banner_text h3{
    font-size: 1.2rem;
  }
  .banner_text h1{
    font-size: 2rem;
    margin-top: 0;
  }
  .banner_text p{
    font-size: 0.8rem;
    margin-top: 0;

  }
}
