.phone-section{
    padding:80px 0;

}
.phone-section-container{
    color:black;
}
.row{
   width:100%; 
   display: flex;   
}
.col-6{
    width: 50%;
}
.phone-black-outline{
    height: 600px;
    width:300px;
    background: #232323;
    border-radius: 20px;
    position: absolute;
}
.phone-white-outline{
    height: 600px;
    width:387px;
    background: red;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    height: 580px;
    width:282px;
    margin-left: 10px;
    margin-top: 10px;
}