.phone-section{
   padding: 80px 80px; 
}
.phone-section-container{
    color:black; 
}
.row{
   width:100%; 
   display: flex;
   justify-content: center;
   align-items: center;
}
.col-6{
    width: 50%;
}
.phone-black-outline{
    height: 600px;
    width:300px;
    background: #232323;
    border-radius: 30px;
    position: absolute;
    left:60%;
}
.phone-white-outline{
    height: 600px;
    width:387px;
    background: #71c671;
    border-radius: 25px;
    position: relative;
    z-index: 2;
    height: 580px;
    width:282px;
    margin-left: 161px;
    margin-top: 10px;
}
.top-nav{
    position: absolute;
    right:22%;
    bottom:-20%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color:#fff;
}
.profile-pic img{
    width:60px;
    height: 60px;
    position: absolute;
    right:34%;
    bottom:-32%;
    z-index: 3;
    border-radius: 30px;
}
.balance{
    position: absolute;
    right:29%;
    bottom:-39%;
    z-index: 3;
    color:#232323;
    font-weight: 800;
    font-size: 1.5rem;
}
.indicators{
    position: absolute;
    right:29%;
    bottom:-47%;
    z-index: 3;
    font-size: 0.6rem;
    list-style: none;
    font-weight: 600;
}
.indicators li{
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 15px;
}
.indicators li .caret{
    color:#232323;
    rotate: 180deg;
}
.line-chart img{
    width:250px;
    z-index: 4;
    position: absolute;
    left:61.7%;
    top:;
}